/* LoginForm.module.css */

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* background-image: url('C:\Users\yasir\Pictures\Screenshots\stretched-5120-2880-1330715.png'); */
}

.square-form {
  max-width: 500px;
  /* Adjust the size as needed */
  border-radius: 10px;
  /* Control the corner radius for the square popup */
  /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.473); */
  /* Add a subtle shadow */

  background: rgba( 255, 255, 255, 0.1 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4.5px );
  -webkit-backdrop-filter: blur( 4.5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}