/* Footer.module.css */

.footer {
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    border: 2px solid rgba(255, 255, 255, 0.18);
    color: #fff;
    padding-top: 10px;
    margin: 2rem;
    border-radius: 4rem;
  }
  
  .footer a {
    color: #aaa;
  }
  
  .footer a:hover {
    color: #fff;
  }
  
  .footer h3 {
    color: '#fff';
    letter-spacing: 1px;
    margin: 30px 0 20px;
    display: flex;
    justify-content: center;
  }
  
  .footer .threeColumn {
    overflow: hidden;
  }
  
  .footer .threeColumn li {
    width: 33.3333%;
    float: left;
    padding: 5px 0;
    list-style: none;
  }
  
  .footer .socialList {
    overflow: hidden;
    margin: 0 auto;
  }
  
  .footer .socialList li {
    float: left;
    margin-right: 3px;
    opacity: 0.3;
    overflow: hidden;
    border-radius: 30%;
    transition: all 0.3s ease-in-out;
  }
  
  .footer .socialList li:hover {
    opacity: 1;
  }
  
  .footer .imgThumbnail {
    background: rgba(0, 0, 0, 0.2);
    border: 1px solid #444;
    margin-bottom: 5px;
  }
  
  .footer .copyright {
    padding: 15px;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.8);
    border: 2px solid rgba(255, 255, 255, 0.18);
    border-radius: 20px;
    margin: 2rem 3rem 2rem;
    font-size: 15px;
    text-align: center;
  }
  
  .footer .copyright span {
    color: #000;
  }
  
  .listUnstyled {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    text-align: center;
  }
  
  .socialList {
    font-size: 2rem;
    padding: 2rem;
  }
  
  .footerImages {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin: 1rem 1rem 2rem;
  }
  
  .socialList li {
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.8);
    padding: 1rem;
    margin: 0.5rem;
  }
  