.header {
  max-width: 60rem;
  margin: auto;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
}

.list {
  display: flex;
}

.list a {
  text-decoration: none;
  color: white;
}

.list a:hover,
.list a.active {
  color: var(--color-primary-800);
}

.custom-dropdown {
  position: relative;
}

.custom-dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  min-width: 160px;
  padding: 0.5rem 0;
  margin: 0.125rem 0 0;
  font-size: 1rem;
  color: white;
  text-align: left;
  list-style: none;
  /* background-color: #fff; */
  background-clip: padding-box;
  /* border: 1px solid rgba(0, 0, 0, 0.15); */
  /* border-radius: 0.25rem; */

  background: rgba( 255, 255, 255, 0.1 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 0px );
  -webkit-backdrop-filter: blur( 0px );
  border-radius: 0px 0px 10px 10px;
}

.custom-dropdown-menu.show {
  display: block;
}

.blurredNavbar {
  background: rgba( 255, 255, 255, 0.1 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 0px );
  -webkit-backdrop-filter: blur( 0px );
  border-radius: 0px 0px 10px 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  position: sticky;
  top: 0;
  z-index: 1000;
  transition: background 0.3s ease;
}

@media (max-width: 768px) {
  .blurredNavbar {
  background: rgba( 255, 255, 255, 0.1 );
  }

  .navbar-nav {
    flex-direction: column;
  }

  .navbar-nav li {
    margin: 0.5rem 0;
  }

  .navbar-nav,
  .navbar-nav ul {
    width: 100%;
  }

  .navbar-toggler {
    display: block;
    margin-left: auto;
  }
}
