.header {
  max-width: 60rem;
  margin: auto;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
}

.logo {
  font-family: "Comic Sans MS", cursive, sans-serif;
font-size: 25px;
letter-spacing: 0px;
word-spacing: -5px;
color: #fff;
color: white;
font-weight: 700;
/* text-decoration: none solid rgb(68, 68, 68); */
font-style: normal;
font-variant: small-caps;
/* text-transform: uppercase; */
  user-select: none;
}

.logo:hover {
  cursor: pointer;
  color: white;
}

.logo img{
  max-height: 6vh;  
}

.btn {
  color: white;
  border-radius: 8px;
  box-shadow: 1px 4px 3px rgba(31, 38, 135, 0.3);
  padding: 8px;
}

.btn:hover {
  box-shadow: 3px 8px 3px rgba(31, 38, 135, 0.3);
  color: white;
}

.list {
  display: flex;
}

.custom-dropdown {
  position: relative;
}

.custom-dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  min-width: 160px;
  padding: 0.5rem 0;
  margin: 0.125rem 0 0;
  font-size: 1rem;
  color: white;
  text-align: left;
  list-style: none;
  background-clip: padding-box;

  background: rgba( 255, 255, 255, 0.1);
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 0px );
  -webkit-backdrop-filter: blur( 0px );
  border-radius: 0px 0px 10px 10px;
}

.custom-dropdown-menu.show {
  display: block;
}

.blurredNavbar {
  background: rgba( 255, 255, 255, 0.1 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 0px );
  -webkit-backdrop-filter: blur( 0px );
  border-radius: 0px 0px 10px 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  z-index: 99;
  transition: background 0.3s ease;
  max-height: 10vh;
}